{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Novelscape Inspiration{% endblock %}
    </title>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_css %}{% endblock %}
    
    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    
    <div class="container2">
        <div class="overlay-box">
            
            {% block header %}
                {% include 'components/header.html' %}
            {% endblock %}
            
            {% block content %}{% endblock %}
            
        </div>
    </div>
    
    <!-- Base JavaScript -->
    <script src="{% static 'js/scripts.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>